include *.txt
include *.md

graft mapshader

prune docs
prune *.egg-info

global-exclude *.png
prune conda.recipe
prune img

exclude mapshader/_version.py
exclude mapshader/examples/*
exclude mapshader/__pycache__/*
exclude tile_idea.py
exclude *.yml
exclude *.enc
exclude .gitignore
exclude .isort.cfg
exclude *.dot
exclude *.gif
exclude *.svg
exclude .flake8
exclude tox.ini

recursive-include examples *.yaml
recursive-include scripts *.py
include LICENSE