/*
Logo
====
*/

.logo {
	max-height: 200px;
}

/*
Header
======
*/

#navbar-main {
	background-color: #F1F1F1!important;
	border-bottom: 3px solid #16255F;
	height: 70px;
}

.navbar-brand {
	padding: 0.25rem;
}


/*
Body
====
*/

body {
	background-color: #FAFAFA!important;
	color: #353D46!important;
}


/*
Left side bar
=============
*/

.form-control {
	background-color: #FAFAFA!important;
}

[type=search] {
	background-color: #FAFAFA;
}


/*
Headings
========
*/

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #062161!important;
}

/*
Releases dropdown
========
*/

li.dropdown {
	margin-right: auto;
}

.dropdown {
	list-style: none;
}

.dropdown > a:hover {
	COLOR: #00194f;
	TEXT-DECORATION: none;
	font-weight: none;
}

div.rst-versions {
	overflow: hidden!important;
}

.deprecated-warning {
	font-family: sans-serif;
	font-weight:bold;
	text-align: center;
	background-color: pink;
	color: firebrick;
	right:0em;
	z-index:1000000000000;
}