<style>
  #psutils {
    display: flex;
    gap: 8px;
  }

  .bar-main-container {
    width: 300px;
    height: 24px;
    border-radius: 4px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 0.7em;
    color: rgb(64, 64, 64);
  }

  .wrap {
    padding: 0 8px;
    position: relative;
  }

  .bar-text {
    width: calc(100% - 14px);
    position: absolute;
    display: flex;
    justify-content: center;
    top: 4.5px;
  }

  .bar-container {
    float: right;
    border-radius: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.13);
    width: 100%;
    margin: 7px 0px;
    overflow: hidden;
  }

  .bar {
    float: left;
    background: #ffffffd1;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    opacity: 1;
    transition: width 0.1s;
    width: 0%;
  }

  /* COLORS */
  .azure {
    background: #38b1cc;
  }
  .emerald {
    background: #2cb299;
  }
  .violet {
    background: #8e5d9f;
  }
  .yellow {
    background: #efc32f;
  }
  .red {
    background: #e44c41;
  }
</style>
<div id="psutils">
  <div class="bar-main-container azure">
    <div class="wrap">
      <span class="bar-text">
        <span>CPU:&nbsp;</span>
        <span id="cpu-percentage">0,0%</span>
      </span>
      <div class="bar-container">
        <div id="cpu-percentage-bar" class="bar"></div>
      </div>
    </div>
  </div>
  <div class="bar-main-container violet">
    <div class="wrap">
      <span class="bar-text">
        <span>MEMORY:&nbsp;</span>
        <span id="memory-percentage">0,0%</span>
      </span>
      <div class="bar-container">
        <div id="memory-percentage-bar" class="bar"></div>
      </div>
    </div>
  </div>
  <div class="bar-main-container yellow">
    <div class="wrap">
      <span class="bar-text">
        <span>DISK:&nbsp;</span>
        <span id="disk-percentage">0,0%</span>
      </span>
      <div class="bar-container">
        <div id="disk-percentage-bar" class="bar"></div>
      </div>
    </div>
  </div>
</div>
<script>
  const fetchAndPopulate = async () => {
    const data = await fetch("/psutil");
    const log = await data.json();

    document.getElementById(
      "cpu-percentage"
    ).innerText = `${log.cpu.cpu_usage_percentage}%`;

    document.getElementById(
      "cpu-percentage-bar"
    ).style.width = `${log.cpu.cpu_usage_percentage}%`;

    document.getElementById(
      "memory-percentage"
    ).innerText = `${log.memory.percent}%`;

    document.getElementById(
      "memory-percentage-bar"
    ).style.width = `${log.memory.percent}%`;

    document.getElementById(
      "disk-percentage"
    ).innerText = `${log.disk.percent}%`;

    document.getElementById(
      "disk-percentage-bar"
    ).style.width = `${log.disk.percent}%`;
  };
  fetchAndPopulate();

  setInterval(fetchAndPopulate, 2000);
</script>
